@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'global-styles/Header.css';
@import 'global-styles/AnimatedHeader.css';
@import 'global-styles/Footer.css';
@import 'global-styles/Sidenav.css';
@import 'global-styles/Loading.css';


:root {
  --black: #08080D;
  --primary-dark: #131313;
  --primary-white: #eef1ff;
  --primary-accent: #7c0047;
  --primary-complement: #4572FF;
  --secondary-accent: #ED669D;
  --secondary-complement: #00C1FF;

  /* --secondary-accent: #00C1FF; */

  --primary-heading: 48pt;
  --secondary-heading: 24pt;
  --tertiary-heading: 18pt;
  --text-size: 14pt;
}

/* ----- Global Components ----- */
html,
body {
  margin: 0rem;
  padding: 0;
  font-size: var(--text-size);
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

body.side-nav-open {
  margin-left: 200px;
}

.content{
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 2000px !important; 
  font-size: var(--text-size);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--primary-dark);
  color: var(--primary-white);
}

.container b{
  color: var(--primary-accent);
}

/* ----- Landing Page Components ----- */
.landing-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--primary-white);
  height: 50rem;
  margin: 0 auto;
  padding: 4rem;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.landing-header{
  margin: 0 2rem;
  font-size: 40pt;
  height: 100%;
  color: var(--primary-white);
  text-align: left;
}

.gif {
  margin: 0 2rem;
  display: flex;
  height: 35rem;
  width: auto;
  justify-content: center;
  align-items: center;
}

.paragraph{
  font-size: var(--text-size);
  text-align: left;
  white-space: normal;;
}

.learnMore{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 10rem auto;
  max-width: 1500px;
}

.item{
  display: flex;
  border-color: var(--primary-accent);
  height: 16rem;
  width: 32rem;
  padding: 4px;
}

.thumbnailContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: 20px;
  background-color: var(--primary-accent);
}

.thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemContent{
  width: 45%;
  margin: 8px 8px 8px 0px;
  font-size: var(--text-size)
}

.contentHeader{
  font-size: var(--tertiary-heading);
  color: var(--primary-dark);
  font-weight: 700;
}

.signUpBlockHeader{
  font-weight: 600;
  color: var(--primary-complement);
  margin-bottom: 1rem;
}

.signUpBlockContent{
  font-size: var(--text-size)
}

.buttonTest{
  background-color: var(--primary-complement);
  color: var(--primary-white);
  width: 8rem;
  height: 2rem;
  margin: 1rem;  
  border-radius: 8px;
}

.buttonTest:hover{
  background-color: var(--secondary-complement);
}

@media only screen and (min-width: 1000px){
  .gif {
    display: flex;
    height: 35rem;
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .section{
    display: flex;
    flex-direction: row;
    margin: 2rem auto;
    width: 90%;
    justify-content: center;
    font-size: var(--tertiary-heading)
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }
  
  .picture-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 40%;
    align-items: center;
  }
  
  .picture {
    width: 28rem;
	  border-radius: 0.5rem;

  }
  
  .signUpBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    margin: 8rem auto;
    text-align: center;
  }


}

@media only screen and (max-width: 999px){
  .gif {
    display: flex;
    height: 0rem;
    width: auto;
  }

  .section{
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: var(--tertiary-heading)
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .picture-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
  }
  
  .picture {
    width: 28rem;
	  border-radius: 0.5rem;

  }

  .signUpBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    margin: 3rem auto;
    text-align: center;
  }

  .landing-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--primary-white);
    height: 38rem;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 1200px){
  .landing-header {
    font-size: 32pt;
  } 
}

/* ----- Info Pages ----- */
.infoContainer{
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: var(--text-size);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--primary-white);
} 

.info > .section{
  flex-direction: column;
}

.section-separater {
  width: 90%;
  height: 1px;
  margin: 3rem auto;
  background-color: #DBB145;
}

.section-header{
  font-size: var(--secondary-heading);
  color: var(--primary-complement);
  font-weight: 600;
  margin-bottom: 15px;
  max-width: 100%;
  text-align: left;
}

.section .subheading{
  font-weight: bold;
  margin-bottom: 1rem;
}

.section .text{
  font-size: var(--text-size);
  margin-bottom: 1rem;
}

.text ul{
  padding-right: 24px;
}

.text li{
  margin-bottom: 4px;
}

.section .fullImage{
  background-color: var(--primary-accent);
  width: 100%;
  height: auto;
  margin: 0px auto;
}

.section .imageCaption{
  font-size: 11pt;
  text-align: center;
  margin-bottom: 1rem;
}

.section .thumbnails{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
}

.section .thumbnail{
  height: 16rem;
  width: 26rem;
  background-color: var(--primary-accent);
}

.section .organizer{
  background-color: var(--primary-white);
  padding: 4px;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin-bottom: 4rem;
  width: 85%;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .75rem 1.25rem .75rem 1.25rem;
  border-radius: 3%;
  background-color: var(--primary-dark);
  transition: 1 ;
}

.team :hover:not(.photo, .name, .role):hover {
  filter: drop-shadow(0 0 1rem #e7bfcf);
  box-shadow: rgba(255, 206, 27, 0.4) 0px 5px 5px 5px, rgba(255, 206, 27, 0.3) 0px 8px 8px 8px, rgba(255, 206, 27, 0.2) 0px 12px 12px 12px;
  scale: 1.05;
  transition: .4s;
}

.member .photo{
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.member .name{
  margin-top: 4px;
}

.member .role{
  font-size: 11pt;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  padding-top: 2rem;
  background-color: var(--primary-complement);
}

.banner .section-header {
  color: var(--primary-white)
}

.banner .text{
  text-align: center;
}

.section .faqLinks{
  display: flex;
  flex-direction: column;
  margin: 0px;
  color: var(--primary-accent);
  text-decoration: none;
  padding-bottom: 4px;
}

.link{
  color: var(--primary-complement);
  margin-top: .75rem;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--secondary-complement);
  text-decoration: wavy underline;
}

.question{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.question .subheading{
  margin-bottom: .25rem;
}

/* ----- Modules ----- */
@media only screen and (min-width: 1000px){
  .organizer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .module {
    display: flex;
    margin-bottom: 1.5rem;
    text-align: left;
    flex-direction: row;
    width: 95%;
  }
  
  .moduleThumbnail {
    width: 22rem;
    height: 12.375rem;
    aspect-ratio: 16/9;
	  border-radius: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0 1.5rem;
  }

  .moduleThumbnail Image {
    object-fit: cover;

  }

  .left {
    margin-right: .25rem;
  }

  .right {
    margin-left: .25rem;
  }

  .even-module {
    text-align: left;
  }

  .odd-module {
    text-align: right;
  }
}

@media only screen and (max-width: 999px){
  .module {
    display: flex;
    margin-bottom: 1.5rem;
    margin: 0 1rem 1.5rem 1rem;
    text-align: left;
    flex-direction: column;
  }

  .moduleThumbnail {
    min-width: 22rem;
    aspect-ratio: 16/9;
	  border-radius: 0.5rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #222831;
  }

  .left {
    margin-right: .25rem;
  }

  .right {
    margin-left: .25rem;
  }

  .even-module {
    text-align: left;
  }

  .odd-module {
    text-align: left;
  }
}

.moduleContent{
  display: flex;
  flex-direction: column;
}

.moduleTitle{
  font-size: var(--secondary-heading);
  color: var(--secondary-accent);
  font-weight: 600;
}

.moduleGoal{
  font-size: var(--text-size);
  color: var(--secondary-complement);
}

.moduleText{
  font-size: var(--text-size);
}

.buffer{
  margin: 6rem;
}
/* ----- Experimental ----- */
.waveSpacer{
  aspect-ratio: 960/100;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.peaks1{
  background-image: url('../peaks1.svg');
}

.peaks2{
  background-image: url('../peaks2.svg');
}

.peaks3{
  background-image: url('../peaks3.svg');
}