@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'global-styles/Header.css';
@import 'global-styles/AnimatedHeader.css';
@import 'global-styles/Footer.css';
@import 'global-styles/Sidenav.css';


:root {
  --primary-dark: #222831;
  --primary-white: #fff9f9;
  --primary-accent: #7c0047;
  --primary-complement: #1d64ef;
  --secondary-accent: #AA4971;
  --secondary-complement: #00C1FF;

  --primary-heading: 48pt;
  --secondary-heading: 24pt;
  --tertiary-heading: 18pt;
  --text-size: 14pt;
}

/* ----- Global Components ----- */
html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--text-size);
  background-color: var(--primary-white);
  color: var(--primary-dark);
}

body.side-nav-open {
  margin-left: 200px;
}

.content{
  background-color: var(--primary-white);
  color: var(--primary-dark);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  font-size: var(--text-size);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--primary-white);
  color: var(--primary-dark);

}

/* ----- Landing Page Components ----- */
.landingPageHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: 
  linear-gradient(
    rgba(35, 33, 33, 0.45), 
    rgba(35, 0, 0, 0.45)
  ), url(https://media.istockphoto.com/id/700688348/photo/interpreting-data-is-what-he-does-best.jpg?s=612x612&w=0&k=20&c=y1fVtELP6lZHdkt8do4RtdBgx5HMTTotD7jxZ1oO_go=);
  background-color: var(--primary-accent);
  color: var(--primary-white);
  background-size: cover;
  height: 30rem;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 6rem;
}

.logoImage{
  width: 28rem;
}

.landingPrimaryHeader{
  font-size: var(--primary-heading);
  margin-bottom: 1rem;
}

.landingSecondaryHeader{
  font-size: var(--secondary-heading);
  color: var(--primary-white);
  text-align: center;
}

.paragraph{
  font-size: var(--text-size);
  text-align: left;
  white-space: normal;;
}

.learnMore{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 10rem auto;
  max-width: 1500px;
}

.item{
  display: flex;
  border-color: var(--primary-accent);

  height: 16rem;
  width: 32rem;
  padding: 4px;
}

.thumbnailContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-right: 20px;
  background-color: var(--primary-accent);
}

.thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemContent{
  width: 45%;
  margin: 8px 8px 8px 0px;
  font-size: var(--text-size)
}

.contentHeader{
  font-size: var(--tertiary-heading);
  color: var(--primary-dark);
  font-weight: 700;
}

.signUpBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  margin: 0px auto;
  text-align: center;
  padding-top: 4rem;
}

.signUpBlockHeader{
  font-weight: 600;
  color: var(--primary-accent);
  margin-bottom: 1rem;
}

.signUpBlockContent{
  font-size: var(--text-size)
}

.buttonTest{
  background-color: var(--primary-accent);
  color: var(--primary-white);
  width: 8rem;
  height: 2rem;
  margin: 1rem;  
  border-radius: 8px;
}

.buttonTest:hover{
  background-color: var(--secondary-accent);
}

/* ----- Info Pages ----- */
.infoContainer{
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: var(--text-size);
  margin: 0 auto;
  padding: 0 1rem;
  background-color: var(--primary-white);
}

.section{
  margin-bottom: 4rem;
  margin: 0px auto;
  width: 100%;
  text-align: left;
}

.sectionHeader{
  font-size: var(--tertiary-heading);
  color: var(--primary-accent);
  font-weight: 600;
  margin-bottom: 15px;
  max-width: 100%;
  text-align: left;
}

.section .subheading{
  font-weight: bold;
  margin-bottom: 1rem;
}

.section .text{
  font-size: var(--text-size);
  margin-bottom: 1rem;
}

.text ul{
  padding-right: 24px;
}

.text li{
  margin-bottom: 4px;
}

.section .fullImage{
  background-color: var(--primary-accent);
  width: 100%;
  height: auto;
  margin: 0px auto;
}

.section .imageCaption{
  font-size: 11pt;
  text-align: center;
  margin-bottom: 1rem;
}

.section .thumbnails{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 100%;
}

.section .thumbnail{
  height: 16rem;
  width: 26rem;
  background-color: var(--primary-accent);
}

.section .organizer{
  background-color: var(--primary-white);
  padding: 4px;
}

.team{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.member{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member .photo{
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.member .name{
  margin-top: 4px;
}

.member .role{
  font-size: 11pt;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px auto;
  background-color: #f8e8ee;
}

.banner .text{
  text-align: center;
}

.section .faqLinks{
  display: flex;
  flex-direction: column;
  margin: 0px;
  color: var(--primary-accent);
  text-decoration: none;
  padding-bottom: 4px;
}

.link{
  color: var(--primary-accent);
  margin-top: .75rem;
}

.question{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.question .subheading{
  margin-bottom: .25rem;
}

/* ----- Modules ----- */
@media only screen and (min-width: 1000px){
  .module {
    display: flex;
    margin-bottom: 1.5rem;
    text-align: left;
    flex-direction: row;
  }
  
  .moduleThumbnail {
    min-width: 22rem;
    height: 12.375rem;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #222831;
  }

  .left {
    margin-right: .25rem;
  }

  .right {
    margin-left: .25rem;
  }

  .even-module {
    text-align: left;
  }

  .odd-module {
    text-align: right;
  }
}

@media only screen and (max-width: 999px){
  .module {
    display: flex;
    margin-bottom: 1.5rem;
    text-align: left;
    flex-direction: column;
  }

  .moduleThumbnail {
    min-width: 22rem;
    height: width/9;
    margin-right: auto;
    margin-left: auto;
    background-color: #222831;
  }

  .left {
    margin-right: .25rem;
  }

  .right {
    margin-left: .25rem;
  }

  .even-module {
    text-align: left;
  }

  .odd-module {
    text-align: left;
  }
}

.moduleContent{
  display: flex;
  flex-direction: column;
}

.moduleTitle{
  font-size: var(--secondary-heading);
  color: var(--primary-accent);
  font-weight: 600;
}

.moduleGoal{
  font-size: var(--text-size);
  color: #AA4971;
}

.moduleText{
  font-size: var(--text-size);
}

/* ----- Loading Page Components ----- */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  width: 100px;
  height: 100px;
  display: grid;
}
.spinner::before,
.spinner::after {    
  content:"";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side,#766DF4 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.spinner::before {
margin:8px;
filter:hue-rotate(45deg);
background-size: 16px 16px;
animation-timing-function: linear
}

@keyframes s2{ 
100%{transform: rotate(.5turn)}
}

/* ----- Experimental ----- */
.waveSpacer{
  aspect-ratio: 960/275;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.waves1{
  background-image: url('../waves1.svg');
}
.waves2{
  background-image: url('../waves2.svg');
}
.waves3{
  background-image: url('../waves3.svg');
}
.waves4{
  background-image: url('../waves4.svg');
}