.horizontal-scroll-carousel {
  position: relative;
  height: 300vh;
  background-color: #333; /* Replace with your desired background color */
}

.sticky-container {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.card-container {
  display: flex;
  gap: 1rem;
}

.card {
  position: relative;
  height: 450px;
  width: 450px;
  overflow: hidden;
  background-color: #ddd; /* Replace with your desired background color */
}

.card-image {
  background-size: cover;
  background-position: center;
  transition: transform 300ms;
}

.card:hover .card-image {
  transform: scale(1.1);
}

.card-content {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}

.card p {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  padding: 8px;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  backdrop-filter: blur(10px);
}