/* ----- Slideshow Components ----- */
.image-stack{
  width: 10rem;
  aspect-ratio: 16/9;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: red;
  padding: .5rem;
}

.image-stack a {
  position: absolute;
  aspect-ratio: 16/9;
  width: 10rem;
  background-color: red;
}

.stack-image {
  aspect-ratio: 16/9;
  object-fit: cover;
  
}